#logo{
	width: 65px;
    height: 70px;
    margin-right: 35%;
    float: left;
}
#logo:hover{ opacity: 0.7; }

.headContent{
     margin-right: 55%;
     margin-top: 1%;
     background-color:lightblue;
}
.nav{
	margin-top:20px;
	height:50px;
	background:#a7e0ee;
	width:100%;
	float:center;
	font-size:20px;
	
	
}
.nav ul{
	margin :0;
	padding:0;
}
.nav ul li{
	list-style:none;
}
.nav ul li a{
	text-decoration:none;
	float:left;
	display:block;
	padding:10px 20px;
	color:black;
}
.nav ul li a:hover{
	color:white;
	
}


.p1{
	font-weight:bold;
	font-family:callibri;
	font-size:20px;
	color :black;
	background-color:white;
	
	
}
body{
	width:90%;
	background-image:url("back.jpg");
	background-repeat:no-repeat;
	background-position:center;
	background-attachment:fixed;
	background-size:150%;

	
	
}
h3{
	font-size:29px;
	color:red;
	background-color:white;
}


.steps{
	border-radius:30px;
	color:white;
	font-weight:bold;
	text-align:center;
	font-size:19px;
}
#steps1{
	background-color:red;
}
#row1{
	width:1300px;
	height:400px;
	background-color:lightblue;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	background-image:url("bus.jpg");
	background-repeat:no-repeat;
	background-size:100%;
	background-position:center;
	
}

#row2{
	margin-top:10px;
	width:800px;
	
	margin-left:auto;
	margin-right:auto;
	
	
}
#row3{
	
	width:900px;
	height:500px;
	color:white;
	
	font-size:17px;
	margin-right:auto;
	margin-left:auto;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3),0 6px 20px 0 rgba(0,0,0,0.2);
}
footer{
text-align: right;
color: black;
}
footer a{ text-decoration: none; }
footer a:hover{ color: lightblue; }
